:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --dark-blue: #0d1b2a; 
  --offwhite: #f4ede8;
  --teal: #4ecbbc;
  --seablue: #133b5c;
  --salmon: #e76f51;
}

#container {
  display: grid;
  grid-template-areas: 
    "nav nav nav nav"
    "skills box-center-box box-center-box about-me"
    "blog experiences experiences experiences"
    "music music pictures pictures"
    "socials socials pictures pictures"
    "footer footer footer footer";
  gap: 10px;
  padding: 10px;
}

#nav {
  grid-area: nav;
  background: var(--dark-blue);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

#skills {
  grid-area: skills;
  background: var(--seablue);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  color: white;
}

#box-center-box {
  grid-area: box-center-box;
  background: var(--teal);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  text-align: center;
}

#box-center-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid var(--offwhite);
}

#about-me {
  grid-area: about-me;
  background: var(--salmon);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#blog {
  grid-area: blog;
  background: var(--teal);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  border: 1px solid var(--offwhite);
}

#experiences {
  grid-area: experiences;
  background: var(--salmon);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  border: 1px solid var(--offwhite);
}

#music {
  grid-area: music;
  background: var(--offwhite);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#pictures {
  grid-area: pictures;
  background: var(--salmon);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  border: 1px solid var(--offwhite);
  color: black;
  text-align: center;
}
.gallery img{
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid var(--salmon);
}

#socials {
  grid-area: socials;
  background: var(--seablue);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  color: white;
}

#footer {
  grid-area: footer;
  background: var(--dark-blue);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  color: white;
}



